* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
    line-height: 1.5;
  color: rgb(193, 180, 180);
  background-color: #272b30;
}

.navbar {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: aliceblue;

}

.searchbar {
  text-align: center;
  width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(gamingwal.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: inset;
  font-size: 0.9em;
  height: 250px;
}

img {
  padding: 10px;
}

.details {
  width: 1000px;
}

.home {
  padding-top: 12%;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.home-describe {
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  padding-left: 28%;
  padding-right: 28%;
}

.button {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 25px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.saved-games {
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

@media only screen and (max-width: 720px) {
  .home{
    font-size: 35px;
    width: 100%;
  }
  .home-describe{
    font-size: 20px;
    width: 100%;
  }
  html {
    font-size: 0.8rem;
    width: 100%;
  }
  img{
    width: 250px;
    height: 150px;
  }
}